#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    /* In case we decide to limit the content width
    on large devices, it will still be centered */
    width: 100%;
    margin: auto;
    scroll-margin-top: 200px;
}

#header {
    padding: 0;
    position: sticky;
    top: -80px;
    background-color: white;
    z-index: 1;
}

#main {
    /* take the available height to push the footer downwards */
    flex-grow: 1;
    padding: 0;
}

#footer {
    background-color: var(--color-background);
    padding-top: 25px;
    padding-bottom: 25px;
}

#popular {
    background-color: var(--color-background);
}

#top-section {
    display: flex;
    flex-direction: column;
}
