/*
* Navigation bar
*/
.navbar {
    padding: 0;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
}
.navbar-nav a {
    margin-top: 30px;
}
.navbar-brand {
    position: absolute;
    height: 45px;
    top: 25px;
    left: 25px;
}
.navbar-brand a {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;
}
.navbar-brand img {
    height: 100%;
}
.nav-item {
    flex: 1 0 50%;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--color-background);
    font-weight: 500;
    --base-top-margin: 40px;
}
.navbar-nav a {
    /* keep the navbar links centered on its position on font size changes */
    margin-top: calc(var(--base-top-margin) - 0.5em);
}
.nav-item.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
#signup {
    flex: 1 0 100%;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 0;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    --base-top-margin: 45px;
}

/*
* Star rating component
*/
.star {
    font-size: var(--rating-star-size);
    padding: var(--rating-star-spacing);
}
.star::before {
    content: '\f005';
}
[data-rating] {
    color: var(--color-background);
    display: flex;
    flex: 0 0;
    cursor: default;
}
[data-rating='1'] > .star:nth-of-type(-n+1),
[data-rating='2'] > .star:nth-of-type(-n+2),
[data-rating='3'] > .star:nth-of-type(-n+3),
[data-rating='4'] > .star:nth-of-type(-n+4),
[data-rating='5'] > .star:nth-of-type(-n+5) {
    color: var(--color-primary);
}

/*
* Star rating component with compact HTML
*/
[data-rating-v2] {
    font-size: var(--rating-star-size);
    letter-spacing: var(--rating-star-spacing);
}
[data-rating-v2]::before {
    content: '';
    color: var(--color-primary);
}
[data-rating-v2]::after {
    content: '';
    color: var(--gray); 
}
[data-rating-v2='1']::before { content: '\f005'; }
[data-rating-v2='2']::before { content: '\f005\f005'; }
[data-rating-v2='3']::before { content: '\f005\f005\f005'; }
[data-rating-v2='4']::before { content: '\f005\f005\f005\f005'; }
[data-rating-v2='5']::before { content: '\f005\f005\f005\f005\f005'; }
[data-rating-v2='0']::after { content: '\f005\f005\f005\f005\f005'; }
[data-rating-v2='1']::after { content: '\f005\f005\f005\f005'; }
[data-rating-v2='2']::after { content: '\f005\f005\f005'; }
[data-rating-v2='3']::after { content: '\f005\f005'; }
[data-rating-v2='4']::after { content: '\f005'; }

/*
* Filter component
*/
.filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-list[data-title]::before {
    margin-right: 20px;
    margin-top: 14px;  /* same as filters to keep vertically aligned */
    width: 100%;  /* line break on mobile */
}

.filter {
    --icon-size: 4.8rem;
    text-transform: capitalize;
    vertical-align: middle;
    border: 2px solid lightgray;
    border-radius: calc(var(--icon-size) / 2);
    padding-right: 1.4rem;
    height: var(--icon-size);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, transform 500ms;
    margin-top: 14px;
    white-space: nowrap;
    user-select: none;
}

.filter:not(:last-child) {
    margin-right: 10px;
}

.filter:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.filter:hover::before {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    transform: rotate(360deg);
}

.filter::before {
    transition: inherit;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    vertical-align: middle;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 50%;
    margin-right: 0.8rem;
    font-size: 1.2em;
    position: relative;
    top: -2px;
    left: -2px;
    z-index: 0;
}

.bill::before { content: '\f53a'; }
.child::before { content: '\f1ae'; }
.heart::before { content: '\f004'; }
.dog::before { content: '\f6d3'; }
.map-marker::before { content: '\f3c5'; }
.search::before { content: '\f002'; }
.chart-line::before { content: '\f201'; }
.info::before {
    content: '\f129';

    /* sizing */
    height: 25px;
    width: 25px;

    /* center text */
    line-height: 25px;
    text-align: center;

    /*  */
    position: relative;
    top: -5px;

    color: var(--color-primary);
    font-size: 0.75em;
    border: 1px solid lightgray;
    border-radius: 100%;

    float: left;
    margin-right: 10px;
}
.info::after {
    content: '';
    clear: both;
}
.info.tip {
    margin-top: 35px;
}

.title-with-icon {
    display: flex;
    justify-content: space-between;
}

/* 
* Search bar component
*/
.search-form {
    height: 50px;
    display: flex;
    font-size: 1.1em;
}
label.prepend {
    background-color: var(--color-background);
    /* center the icon (::before inherit these two props) */
    line-height: 50px;
    text-align: center;
    /* fixed width */
    flex: 0 0 50px;
    /* round left borders */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
label.prepend:hover {
    cursor: pointer;
}
.search-field {
    border: 1px solid var(--color-background);
    padding-left: 15px;
    padding-right: 15px;
    flex-grow: 1;
    min-width: 200px;
    font-weight: bold;
}
.search-field::placeholder {
    font-size: 0.8em;
}
.search-field:focus {
    background-color: #f5f8fd;
}
button.append {
    border: none;
    background-color: var(--color-primary);
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    left: -10px;
    color: white;
    flex: 0 0 50px;
    cursor: pointer;
    transition: background-color 150ms;
}
button.append:hover {
    background-color: #0056d6;
}
form {
    font-weight: bold;
    margin-top: 35px;
    margin-bottom: 20px;
}

/* 
* Card component
*/
.card-container {
    /* flex avoids margin collapsing on children */
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    /* magic of overflow: hidden to
    force CSS to not expand the card
    by letting images grow */
    overflow: hidden;
    border-radius: 15px;
    font-size: 0.9em;
    /* restrict the horizontal card shrinking
    on very narrow screens */
    min-width: 280px;
    height: 190px;
    padding: 5px;
    margin: 7px 0;
    /* default layout: vertical */
    flex-direction: column;

    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 150ms ease-in-out;
}

.card:hover {
    transform: scale(105%);
}

.card-h {
    /* horizontal layout */
    flex-direction: row;
    height: 145px;
}

.card * {
    /* remove all card's content's spacing */
    margin: 0;
    padding: 0;
}

.card .card-image {
    /* keep image's aspect ratio */
    object-fit: cover;
    /* let the image grow and shrink */
    flex: 1 1 100px;
    /* round right corners */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}

.card .card-body {
    display: flex;
    flex-direction: column;
    margin: 6px 10px;
}

.card-v .card-body {
    margin-top: 5px;
    margin-bottom: 5px;
}

.card .card-description {
    /* let the description grow and
    push the footer downwards */
    flex: 1;
    margin-top: 3px;
    margin-bottom: 3px;
}

.card .card-rating {
    margin-top: 3px;
}

.card.card-h .card-image {
    /* round left corners */
    border-radius: 0;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 10px;
}

.card.card-h .card-body {
    /* below 128px the body content will overflow */
    flex: 2 0 128px;
    margin-right: 20px;
}

.card-alt {
    /* alternative cards does not have borders */
    padding: 0;
    margin: 12px 0;
    height: 190px;
}

.card-alt .card-body {
    /* alternative cards have a bit more padding
    around their body */
    margin: 18px;
}
