/*
* Navigation bar
*/
.navbar {
    padding: 0;
}
.navbar-nav {
    display: flex;
    flex-wrap: wrap;
}
.navbar-nav a {
    margin-top: 30px;
}
.navbar-brand {
    position: absolute;
    height: 45px;
    top: 25px;
    left: 25px;
}
.navbar-brand a {
    display: inline-block;
    height: 100%;
}
.navbar-brand img {
    height: 100%;
}
.nav-item {
    flex: 1 0 50%;
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 3px solid var(--color-background);
    font-weight: 500;
    --base-top-margin: 40px;
}
.navbar-nav a {
    /* keep the navbar links centered on its position on font size changes */
    margin-top: calc(var(--base-top-margin) - 0.5em);
}
.nav-item.active {
    color: var(--color-primary);
    border-color: var(--color-primary);
}
#signup {
    flex: 1 0 100%;
    text-align: right;
    padding-right: 25px;
    padding-bottom: 0;
    border: none;
    color: var(--color-primary);
    font-weight: bold;
    --base-top-margin: 45px;
}

/*
* Star rating component
*/
.star {
    font-size: var(--rating-star-size);
    padding: var(--rating-star-padding);
}
.star::before {
    content: '\f005';
}
[data-rating] {
    color: var(--color-background);
    display: flex;
    flex: 0 0;
    cursor: default;
}
[data-rating='1'] > .star:nth-of-type(-n+1),
[data-rating='2'] > .star:nth-of-type(-n+2),
[data-rating='3'] > .star:nth-of-type(-n+3),
[data-rating='4'] > .star:nth-of-type(-n+4),
[data-rating='5'] > .star:nth-of-type(-n+5) {
    color: var(--color-primary);
}

/*
* Star rating component with compact HTML
*/
[data-rating-v2] {
    font-size: var(--rating-star-size);
    letter-spacing: calc(var(--rating-star-padding) * 2);
    padding-top: var(--rating-star-padding);
    padding-bottom: var(--rating-star-padding);
}
[data-rating-v2]::before {
    content: '';
    color: var(--color-primary);
    padding-left: var(--rating-star-padding);
}
[data-rating-v2]::after {
    content: '';
    color: var(--color-background); 
    padding-right: var(--rating-star-padding);
}
[data-rating-v2='1']::before { content: '\f005'; }
[data-rating-v2='2']::before { content: '\f005\f005'; }
[data-rating-v2='3']::before { content: '\f005\f005\f005'; }
[data-rating-v2='4']::before { content: '\f005\f005\f005\f005'; }
[data-rating-v2='5']::before { content: '\f005\f005\f005\f005\f005'; }
[data-rating-v2='0']::after { content: '\f005\f005\f005\f005\f005'; }
[data-rating-v2='1']::after { content: '\f005\f005\f005\f005'; }
[data-rating-v2='2']::after { content: '\f005\f005\f005'; }
[data-rating-v2='3']::after { content: '\f005\f005'; }
[data-rating-v2='4']::after { content: '\f005'; }

/*
* Filter component
*/
.filter-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.filter-list[data-title]::before {
    margin-right: 20px;
    margin-top: 14px;  /* same as filters to keep vertically aligned */
    width: 100%;  /* line break on mobile */
}

.filter {
    --icon-size: 4.8rem;
    display: inline-block;
    text-transform: capitalize;
    vertical-align: middle;
    border: 2px solid lightgray;
    border-radius: calc(var(--icon-size) / 2);
    padding-right: 1.4rem;
    height: var(--icon-size);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 200ms, color 200ms, transform 500ms;
    margin-top: 14px;
    white-space: nowrap;
}

.filter:not(:last-child) {
    margin-right: 10px;
}

.filter:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.filter:hover::before {
    color: var(--color-secondary);
    background-color: var(--color-primary);
    transform: rotate(360deg);
}

.filter::before {
    transition: inherit;
    display: inline-block;
    width: var(--icon-size);
    height: var(--icon-size);
    line-height: var(--icon-size);
    text-align: center;
    vertical-align: middle;
    color: var(--color-primary);
    background-color: var(--color-secondary);
    border-radius: 50%;
    margin-right: 0.8rem;
    font-size: 1.2em;
    position: relative;
    top: -2px;
    left: -2px;
    z-index: 0;
}

.bill::before { content: '\f53a'; }
.child::before { content: '\f1ae'; }
.heart::before { content: '\f004'; }
.dog::before { content: '\f6d3'; }
