#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    /* In case we decide to limit the content width
    on large devices, it will still be centered */
    width: 100%;
    max-width: 1000px;
    margin: auto;
    scroll-margin-top: 200px;
}

#header {
    padding: 0;
    position: sticky;
    top: -80px;
    background-color: white;
    z-index: 1;
}

#main {
    /* take the available height to push the footer downwards */
    flex-grow: 1;
    padding: 0;
}

#footer {
    background-color: var(--color-background);
    margin-top: 20px;
}
#footer > nav > ul {
    margin: 20px 25px;
}

#popular {
    padding-bottom: 35px;
}

#popular, #housings {
    min-width: 0;
    min-height: 0;
}

#top-section {
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 525px;
    margin: 0 auto;
    width: 100%;
}

.card-container {
    /* flex avoids margin collapsing on children */
    display: flex;
    flex-direction: column;
}

.bg-gray {
    background-color: var(--color-background);
}

.round {
    border-radius: 20px;
}

#footer-bg {
    border-radius: 0;
    width: 100%;
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
    #header {
        /* Sticky header takes too much space on mobile landscape mode,
        so leave it on top of the document */
        position: relative;
        top: 0;
    }
    .container {
        max-width: 1000px;
    }
    .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }
    .card-container > a {
        /* 2 cards per row width a 14px margin between them */
        padding: 0;
        width: calc(50% - 7px);
    }
    #footer > nav {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    #footer > nav > ul {
        flex: 1 0 calc(50% - 50px);
    }
}

@media screen and (min-width: 1000px) {
    #top-section {
        margin-left: 25px;
        margin-right: 25px;
    }
    #housings {
        /* Drop the x-padding on large tablets only
        for visual alignment */
        padding-left: 0;
        padding-right: 0;
    }
    .round-tablet {
        border-radius: 20px;
    }
    #footer > nav > ul {
        flex-basis: calc(33% - 50px);
    }
}

@media screen and (min-width: 1200px) {
    #root {
        max-width: 1600px;
    }
    #housings {
        /* Get the padding back on desktop */
        padding-left: 25px;
        padding-right: 25px;
    }
    .container {
        max-width: 1600px;
    }
    .bg-gray-desktop {
        background-color: var(--color-background);
    }
    .round-desktop {
        border-radius: 20px;
    }
    #top-section {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .container {
        width: auto;
    }
    #popular {
        width: auto;
    }
    .desktop-left {
        width: calc(60% - 15px);
    }
    .desktop-right {
        order: 1;
        width: calc(40% - 15px);
    }
    #popular .card-container {
        flex-direction: column;
    }
    #popular .card-container a {
        flex-direction: column;
        width: 100%;
    }
    #housings .card-container > a {
        width: calc(50% - 10px);
    }
    #activities .card-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
        column-gap: 30px;
        row-gap: 30px;
        grid-template-areas:
        'grid-item-1 grid-item-2 grid-item-4 grid-item-5'
        'grid-item-1 grid-item-3 grid-item-4 grid-item-6';
    }
    #activities .card-container > a {
        /* let grid items size themselves */
        width: auto;
        min-width: 0; /* required for preventing items to expand too much */
    }
    .card-alt {
        height: 100% !important;
        max-height: none !important;
        margin: 0 !important;
    }
    .grid-item-1 {
        grid-area: grid-item-1;
    }
    .grid-item-2 {
        grid-area: grid-item-2;
    }
    .grid-item-3 {
        grid-area: grid-item-3;
    }
    .grid-item-4 {
        grid-area: grid-item-4;
    }
    .grid-item-5 {
        grid-area: grid-item-5;
    }
    .grid-item-6 {
        grid-area: grid-item-6;
    }
}

@media screen and (min-width: 1400px) {
    #housings .card-container > a {
        width: calc(33% - 10px);
    }
    .desktop-left {
        width: calc(70% - 15px);
    }
    .desktop-right {
        width: calc(30% - 15px);
    }
}
