#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;

    /* In case we decide to limit the content width
    on large devices, it will still be centered */
    width: 100%;
    margin: auto;
    scroll-margin-top: 200px;
}

#header {
    padding: 0;
    position: sticky;
    top: -80px;
    background-color: white;
    z-index: 1;
}

#main {
    /* take the available height to push the footer downwards */
    flex-grow: 1;
    padding: 0;
}

#footer {
    background-color: var(--color-background);
    padding: 25px;
    margin-top: 20px;
}

#popular {
    background-color: var(--color-background);
    padding-bottom: 35px;
}

#popular, #housings {
    min-width: 0;
    min-height: 0;
}

#top-section {
    display: flex;
    flex-direction: column;
}

.card-container {
    /* flex avoids margin collapsing on children */
    display: flex;
    flex-direction: column;
}

/* Tablet breakpoint */
@media screen and (min-width: 768px) {
    #header {
        /* Sticky header takes too much space on mobile landscape mode,
        so leave it on top of the document */
        position: relative;
        top: 0;
    }
    #popular > .card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0;
    }
    #popular .card-container > a {
        /* 2 cards per row width a 14px margin between them */
        padding: 0;
        width: calc(50% - 7px);
        
    }
}
